[Unit]
Description=MongoDB
Documentation=https://www.mongodb.com/docs/manual/
After=syslog.target

[Service]
User=mongod
Group=mongod
ExecStart={{ install_dir }}/bin/mongod -f /etc/mongodb/mongod.yml
KillSignal=15
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target