# ======================================================================================================================
[mysql]
prompt                          = (\\u@\\h) [\\d]>\\_

# ======================================================================================================================
[client]
protocol                        = TCP
host                            = 127.0.0.1
user                            = root
password                        = root
skip_auto_rehash

# ======================================================================================================================
[mysqld]

# 基本信息
user                            = mysql
basedir                         = /usr/local/mysql
datadir                         = /data/mysql
port                            = 3306
tmpdir                          = /tmp

# 日志相关
log_error                       = /data/mysql/error.log
log_timestamps                  = SYSTEM
