################################## NETWORK #####################################
bind            *
port            6379
tcp-keepalive   300

################################# GENERAL #####################################
daemonize       no
pidfile         {{ data_dir }}/redis.pid
loglevel        notice
logfile         {{ log_dir }}/redis.log
syslog-enabled  no
databases       16
dir             {{ data_dir }}

############################## APPEND ONLY MODE ###############################
appendonly      yes

################################## SECURITY ###################################
requirepass     root