# ======================================================================================================================
[mysql]
prompt                                  = (\\u@\\h:\\p) [\\d]>\\_
skip_auto_rehash

# ======================================================================================================================
[client]
protocol                                = TCP
host                                    = 127.0.0.1
user                                    = root
password                                = root

# ======================================================================================================================
[mysqld_safe]

# ======================================================================================================================
[mysqld_multi]
mysqld                                  = {{ install_dir }}/bin/mysqld_safe
mysqladmin                              = {{ install_dir }}/bin/mysqladmin

# ======================================================================================================================
[mysqld]

###
# 基本信息
###
user                                    = mysql
basedir                                 = {{ install_dir }}
tmpdir                                  = /tmp
bind_address                            = 0.0.0.0

###
# 安全相关
###

# 是否强制要求使用SSL连接
require_secure_transport                = OFF

###
# 日志相关
###
log_error                               = error.log
log_timestamps                          = SYSTEM

###
# 插件相关
###

# 加载插件
plugin_load_add                         = validate_password.so

# "validate_password" 插件详细配置
validate_password                       = ON
# validate_password_dictionary_file       = validate_password.dict
validate_password_policy                = STRONG
validate_password_length                = 8
validate_password_mixed_case_count      = 1
validate_password_number_count          = 1
validate_password_special_char_count    = 1
validate_password_check_user_name       = ON

# ======================================================================================================================
[mysqld3306]
port                                    = 3306
datadir                                 = {{ data_dir_3306 }}
socket                                  = /tmp/mysql.3306.socket
validate_password_dictionary_file       = {{ data_dir_3306 }}/validate_password.dict

[mysqld3307]
port                                    = 3307
datadir                                 = {{ data_dir_3307 }}
socket                                  = /tmp/mysql.3307.socket
validate_password_dictionary_file       = {{ data_dir_3307 }}/validate_password.dict