
# ======================================================================================================================
[mysql]
prompt                                  = (\\u@\\h:\\p) [\\d]>\\_
skip_auto_rehash

# ======================================================================================================================
[client]
protocol                                = TCP
host                                    = 127.0.0.1
user                                    = root
password                                = root

# ======================================================================================================================
[mysqld_safe]

# ======================================================================================================================
[mysqld_multi]
mysqld                                  = {{ install_dir }}/bin/mysqld_safe
mysqladmin                              = {{ install_dir }}/bin/mysqladmin

# ======================================================================================================================
[mysqld]

###
# 基本信息
###
user                                    = mysql
basedir                                 = {{ install_dir }}
tmpdir                                  = /tmp
bind_address                            = 0.0.0.0

###
# 安全相关
###

# 是否强制要求使用SSL连接
require_secure_transport                = OFF

###
# 日志相关
###
log_error                               = error.log
log_timestamps                          = SYSTEM

# ======================================================================================================================
[mysqld3306]
port                                    = 3306
datadir                                 = {{ data_dir_3306 }}
socket                                  = /tmp/mysql.3306.socket

[mysqld3307]
port                                    = 3307
datadir                                 = {{ data_dir_3307 }}
socket                                  = /tmp/mysql.3307.socket