#!/usr/bin/env bash

if rpm -q yum-utils > /dev/null; then
  echo "Package yum-utils already installed. Good."
else
  echo "Going to install yum-utils..."
  yum -y install yum-utils
fi

echo 'Trimming .log files larger than 50M...'
find /var -name "*.log" \( \( -size +50M -mtime +7 \) -o -mtime +30 \) -exec truncate {} --size 0 \;

echo "Cleaning yum caches..."
yum clean all  || true
rm -rf /var/cache/yum  || true
rm -rf /var/tmp/yum-*  || true

echo "Removing WP-CLI caches..."
rm -rf /root/.wp-cli/cache/*  || true
rm -rf /home/*/.wp-cli/cache/*  || true

echo "Removing old Linux kernels..."
package-cleanup -y --oldkernels --count=1  || true

echo "Removing Composer caches..."
rm -rf /root/.composer/cache  || true
rm -rf /home/*/.composer/cache  || true

echo "Removing core dumps..."
find -regex ".*/core\.[0-9]+$" -delete  || true

echo "Removing cPanel error log files..."
find /home/*/public_html/ -name error_log -delete || true

echo "Removing Node.JS caches..."
rm -rf /root/.npm /home/*/.npm /root/.node-gyp /home/*/.node-gyp /tmp/npm-* || true

echo 'Removing mock caches...'
rm -rf /var/cache/mock/* /var/lib/mock/* || true

echo 'Removing user caches...'
rm -rf /home/*/.cache/* /root/.cache/* || true